{% extends 'base.html' %}

{% block title %}
{{ news_item.title }}
{% endblock title %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}


{% endblock sidebar %}

{% block content %}


<div class="card mb-3">
    <div class="card-header">
        <a href="{{ news_item.category.get_absolute_url }}">
            {{ news_item.category.title }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if item.photo %}
            <img src="{{ news_item.photo.url }}" align="left" hspace="20"
                 width="200" float="left" class="mr-3">
            {% else %}
            <img src="https://picsum.photos/200/300" align="left"
                 hspace="20" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">
                    {{ news_item.title }}
                </h5>
                <p class="card-text">
                    {{ news_item.content|linebreaks }}
                </p>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Опубликовано {{ news_item.created_at|timesince }} назад
    </div>
</div>



{% endblock content %}

